<ion-view id="home" view-title="传递价值资讯">
    <ion-content >
      <ion-slide-box>
          <ion-slide>
              <img src="images/home1.jpg">
          </ion-slide>
          <ion-slide>
              <img src="images/home3.png">
          </ion-slide>
          <ion-slide>
              <div  class="begin"> <img src="images/home2.png" class="logoimg">
                  <div class="btn"><button class="button button-outline button-assertive" ui-sref="tabs.information">开始ZAKER</button></div>
              </div>


          </ion-slide>
      </ion-slide-box>

    </ion-content>
</ion-view>